body {
    font-family: 'Times New Roman', Times, serif;

}


nav {
    box-shadow: 0px 0px 5px 0px #AFC4C5;
}

@media (max-width: 480px) {
    #contato {
        position: relative;
    }

    #contato::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: none;

    }
}

@media (min-width: 760px) {
    #contato {
        position: relative;
    }

    #contato::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/bg-logo.png"), url("../images/bg-logo.png");
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        z-index: -1;
        opacity: 0.5;
    }

}

.icon {
    height: 23px;
    width: 23px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.classe-nova {
    display: flex;
    align-items: center;
}