body {
    height: fit-content;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inria Serif','Times New Roman', Times, serif;

}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: white;
}



@media (max-width: 480px) {
    body {
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;
        font-family: 'Times New Roman', Times, serif;
    }

    #contato {
        position: relative;
    }

    #contato::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: none;

    }

    .section {
        height: 60vh;
    }
}

@media (min-width: 760px) {
    #contato {
        position: relative;
    }

    #contato::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/bg-logo.png"), url("../images/bg-logo.png");
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        z-index: -1;
        opacity: 0.3;
    }

    #horario {
        position: relative;
    }

    #horario::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/bg-logo.png"), url("../images/bg-logo.png");
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        z-index: -1;
        opacity: 0.3;
    }

    .section {
        height: 80vh;
    }
}

.icon {
    height: 23px;
    width: 23px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fundo-imagem {
    background-image: url(../images/img_02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fundo-imagem-relogio {
    background-image: url(../images/relogio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav-bar{
    font-family: Arial, Helvetica, sans-serif;
}
.list-style-feedbacks{
    list-style: disc;
}